<h2>
  <%= fg.object.class.model_name.human %>
</h2>

<div>
  <%= fg.hidden_field :type, value: "Comedy" %>
</div>

<div>
  <%= fg.text_field :humor_type %>
</div>

<div>
  <%= fg.text_field :cultural_bias %>
</div>
